* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
#container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 3fr;
}
#sidebar {
  padding: 1rem;
  background-color: steelblue;
}
#new-category-container {
  display: flex;
  button,
  input {
    padding: 0.25rem 0.5rem;
    font-size: 1.2rem;
  }
}
#content {
  background-color: rebeccapurple;
}
.task-item {
  display: flex;
  gap: 1rem;
}
